.restaurantList {
    display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}

.listGroup {
    background-color: lightgray;
    font-size: 14px;
    color: black;
    display: flex;
        justify-content: center;
        flex-direction: column;
    padding: 0;
}

.resaurantName {
    margin: 0;
}