@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.restaurantList {
    display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-family: "Inconsolata", monospace;
}

.listGroup {
    background-color: #22577a;
    font-size: 14px;
    color: white;
    display: flex;
        justify-content: center;
        flex-direction: column;
    padding: 0;
}

.resaurantName {
    margin: 0;
}

#menu {
   color: #ff5757;
}